Need to make sure 73-4.13 validates the CHUID GUID


85B Test Case #8.2.5: If the CHUID   contains the optional Cardholder UUID, then the data element shall be in accordance with 800 73-4 Part 1 Section 3.4.2.  This is currently handled by 73-4.13, but we need to check what 73-4.13 does.  In particular, it must conform to RFC 4122:

"As defined in Section 3.1.2, the CHUID may optionally include a Cardholder UUID. When present, the Cardholder UUID shall be a 16-byte binary representation of a valid UUID, and it shall be version 1, 4, or 5, as specified in [RFC4122, Section 4.1.3]."



In [SP800_73_4CHUIDTests.java](https://github.com/GSA/piv-conformance/blob/swing-gui-devel/conformancelib/src/main/java/gov/gsa/conformancelib/tests/SP800_73_4CHUIDTests.java), at around line 375.

Fixed