Need separate atoms for each table in SP 800-78 (CMS.13 and others)


Validate   that the signature algorithm value for RSA with PKCS #1 v1.5 padding   specifies the rsaEncryption OID (as per Section 3.2 of RFC 3370) and for   ECDSA and RSA with PSS padding, the signatureAlgorithm is in accordance with   Table 3-3 of SP 800-78.

![image](https://user-images.githubusercontent.com/9324182/56706530-4d2e4c80-66e3-11e9-82be-60a631965c7f.png)

the parameters are 

1.2.840.113549.1.1.5,   1.2.840.113549.1.1.11, 1.2.840.113549.1.1.10, 1.2.840.10045.4.3.2,   1.2.840.10045.4.3.3
--

Sec 3.2 of RFC 3370

3.2  RSA

   The RSA (PKCS #1 v1.5) signature algorithm is defined in RFC 2437
   [NEWPKCS#1].  RFC 2437 specifies the use of the RSA signature
   algorithm with the SHA-1 and MD5 message digest algorithms.

   The algorithm identifier for RSA subject public keys in certificates
   is:

      rsaEncryption OBJECT IDENTIFIER ::= { iso(1) member-body(2)
          us(840) rsadsi(113549) pkcs(1) pkcs-1(1) 1 }

   When the rsaEncryption algorithm identifier is used, the
   AlgorithmIdentifier parameters field MUST contain NULL.

   When the rsaEncryption algorithm identifier is used, the RSA public
   key, which is composed of a modulus and a public exponent, MUST be
   encoded using the RSAPublicKey type.  The output of this encoding is
   carried in the certificate subject public key.

      RSAPublicKey ::= SEQUENCE {
         modulus INTEGER, -- n
         publicExponent INTEGER } -- e

   CMS implementations that include the RSA (PKCS #1 v1.5) signature
   algorithm MUST also implement the SHA-1 message digest algorithm.
   Such implementations SHOULD also support the MD5 message digest
   algorithm.



   The rsaEncryption algorithm identifier is used to identify RSA (PKCS
   #1 v1.5) signature values regardless of the message digest algorithm
   employed.  CMS implementations that include the RSA (PKCS #1 v1.5)
   signature algorithm MUST support the rsaEncryption signature value
   algorithm identifier, and CMS implementations MAY support RSA (PKCS
   #1 v1.5) signature value algorithm identifiers that specify both the
   RSA (PKCS #1 v1.5) signature algorithm and the message digest
   algorithm.

   The algorithm identifier for RSA (PKCS #1 v1.5) with SHA-1 signature
   values is:

      sha1WithRSAEncryption OBJECT IDENTIFIER ::= { iso(1)
          member-body(2) us(840) rsadsi(113549) pkcs(1) pkcs-1(1) 5 }

   The algorithm identifier for RSA (PKCS #1 v1.5) with MD5 signature
   values is:

      md5WithRSAEncryption OBJECT IDENTIFIER ::= { iso(1)
          member-body(2) us(840) rsadsi(113549) pkcs(1) pkcs-1(1) 4 }

   When the rsaEncryption, sha1WithRSAEncryption, or
   md5WithRSAEncryption signature value algorithm identifiers are used,
   the AlgorithmIdentifier parameters field MUST be NULL.

   When signing, the RSA algorithm generates a single value, and that
   value is used directly as the signature value.

--




I'm going to reach out to the FPKIMA folks before we address this.

SHA-1 has been deprecated since 12/31/2010.  This is 9 years later.  The only reason we might see a SHA-1 is in the signature algorithm on a Retired Key Management cert.  My guess is that there are few, if any PIV cards with Retired KM certs, so we may decide to pass on this one.  I'll double check with @grandamp and @lachellel.

And, not to mention MD5, which was deprecated before SHA-1.

Thanks

Manoj, I'll park this and wait for some feedback.  I think we will probably close just this one.  Thanks for the write up. 

Manoj, if it's parked an we are waiting for answers, it's probably best to reopen so that the other collaborators see it as not closed.

We really need separate atoms for each table in SP 800-78. 

- [ ] Table 3-1.  Algorithm and Key Size Requirements for PIV Key Types
- [ ] Table 3-2. Signature Algorithm and Key Size Requirements for PIV Information
- [ ] Table 3-3. Table 3-3. FIPS 201-2 Signature Algorithm Object Identifiers

Each atom focuses on one of the 3 tables.  The Parameter Type for Table 3-1 will be the key identifier (9A, 9E, etc), a colon, and an OID.  We will populate the CMS and PKIX tabs with the key identifier:algorithm OID.  The atom will use the passed in (normative) sizes for Table 3-1, and it will look at the cert, and make sure the key length is based on the length passed in. 

For Table 3-2, we will pass in a complete list of acceptable OIDs (Type 3), parse each parameter into key:value pairs and look for a match.

For Table 3-3, we just enumrate the Objeft Identiier OID.

The parameters for Table 3-2 will be 
